.rkit-advanced-heading,
.rkit-advanced-heading a {
  display: inline-block;
  position: relative;
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  background-clip: text;
}
.rkit-advanced-heading-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
}
.rkit-advanced-heading span:not(.headline-container) {
  display: inline;
  position: relative;
  white-space: nowrap;
  text-wrap: wrap;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.rkit-advanced-heading .text {
  background-color: black;
  text-decoration-color: black;
}

.rkit-advanced-heading .headline-text {
  background-color: #00cea6;
    text-decoration-color: #00cea6;
}

.rkit-advanced-heading .headline-container {
  display: inline-flex;
}
