.rkit-swiper {
  position: relative;
  overflow: hidden;
}

.rkit-card {
  background-color: #fafafa;
  overflow: hidden;
}

.rkit-card-slider {
  padding: 0px;
  /* overflow: hidden; */
  position: relative;
}

.rkit-cardslider-pagination {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.rkit-swiper-button-prev {
  left: -55px;
}

.rkit-swiper-button-next {
  right: -55px;
}

.rkit-swiper-button-next,
.rkit-swiper-button-prev {
  position: absolute;
  z-index: 999;
  cursor: pointer;
  pointer-events: auto;
  width: 45px;
  top: 50%;
  height: 45px;
  background-color: #f7f7f7;
  transform: translateY(0);
  color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  border-radius: 5px;
  --swiper-navigation-size: 44px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
}

.card-image {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.rkit-card .card-image img {
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.rkit-cardslider-bullet {
  width: 8px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #aaaaaa;
  transition: all 0.5s ease;
}

.rkit-cardslider-bullet-active {
  background-color: #161616;
}

.rkit-cardslider-bullet-clickable .rkit-cardslider-bullet {
  cursor: pointer;
}

.rkit-card .card-body {
  padding: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.rkit-card .card-body::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translateY(120%);
  opacity: 0;
  transition: all 0.5s;
  background: #aaaaaa;
}

.card-title {
  margin: 0;
}

.card-title a {
  text-decoration: none;
  color: #161616;
}

.card-heading {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}

.rkit-swiper-button-prev.swiper-button-disabled,
.rkit-swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.rkit-card .card-button a {
  background-color: #00cea6;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  color: white;
  transition: all 0.5s;
  border-radius: 5px;
}

.rkit-card .card-button {
  display: flex;
  justify-content: start;
}

.rkit-card .card-button a .button-icon {
  transition: color 0.5s;
}

.rkit-card.rkit-cc-overlay {
  position: relative;
}

.rkit-card.rkit-cc-overlay .card-body {
  opacity: 0;
  transform: translateY(-20%);
  transform-origin: bottom;
  transition: all 0.5s;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  color: white;
  padding: 40px;
}

.rkit-card.rkit-cc-overlay .card-image img {
  aspect-ratio: 1 / 1;
}

.rkit-card.rkit-cc-overlay .card-button {
  justify-content: center;
}

.rkit-card.rkit-cc-overlay:hover .card-body {
  opacity: 1;
  transform: translateY(0);
}

.rkit-card.rkit-cc-overlay:hover .card-body::before {
  transform: translateY(0);
  opacity: 1;
}

.rkit-card-slider .swiper-slide {
  overflow: unset;
}

.card-button.fullwidth a {
  width: 100%;
}

.rkit-flex-absolute-card-slider {
  display: flex;
  align-items: center;
  position: absolute;
  inset: 0;
  justify-content: space-between;
  z-index: 999999;
  pointer-events: none;
}

.rkit-animation-hover-card-slider-enabled .rkit-swiper-button-next,
.rkit-animation-hover-card-slider-enabled .rkit-swiper-button-prev {
  opacity: 0;
  transition: all 0.5s;
  transition-delay: 0.3s;
}
.rkit-animation-hover-card-slider-enabled:hover .rkit-swiper-button-next,
.rkit-animation-hover-card-slider-enabled:hover .rkit-swiper-button-prev {
  opacity: 1;
   transform: translate(0, -50%);
}

.rkit-animation-hover-card-slider-enabled .rkit-swiper-button-next {
  transform: translate(-30px, -50%);
}
.rkit-animation-hover-card-slider-enabled .rkit-swiper-button-prev {
  transform: translate(30px, -50%);
}
