.dual-button-outer-wrapper {
  display: flex;
  justify-content: center;
}
.dual-button-inner-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  height: auto;
  background-color: transparent;
  vertical-align: middle;
  align-items: center;
  align-self: center;
  overflow: visible;
}

.dual-button-inner-wrapper .column {
  gap: 1px;
}

.dual-button {
  display: flex;
  width: 180px;
  height: auto;
  float: left;
  box-sizing: border-box;
}
.dual-left {
  background-color: #333;
  border-radius: 0px;
}

.dual-right {
  background-color: #00cea6;
  border-radius: 0px;
}

.dual-text {
  font-size: 18px;
  display: flex;
  font-family: arial;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  color: white;
  width: 100%;
  position: relative;
  z-index: 0;
}

.left_button {
  display: flex;
  gap: 5px;
  align-self: center;
  padding: 12px 30px 12px 30px;
}

.right_button {
  display: flex;
  gap: 5px;
  align-self: center;
  padding: 12px 30px 12px 30px;
}

.dual-button:hover {
  background-color: #4a4a4a;
}

.dual-text:hover {
  color: #ffffff;
}

.dual-right:hover {
  background-color: #5eebcf;
}

.middle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  z-index: 9999;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  font-size: 15px;
  line-height: 1px;
}

.rkit-icon-left-button {
  display: inline-flex;
  position: relative;
  align-self: center;
}

.rkit-icon-right-button {
  display: inline-flex;
  position: relative;
  align-self: center;
}

.rkit-icon-middle-button {
  display: inline-flex;
  position: relative;
  align-self: center;
}

.dual-right,
.dual-left {
  position: relative;
}
.dual-left::before,
.dual-right::before {
  content: "";
  position: absolute;
  inset: 0;
}

.ripple-effect {
  --default-delay-time: 2s;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #00cea6;
  z-index: 2;
}

.ripple-effect:before,
.ripple-effect:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00cea6;
  border: 1px solid #fff;
  opacity: 0.85;
  border-radius: 50%;
  filter: brightness(1.2);
  z-index: -1;
}

.ripple-effect:before {
  animation: ripple var(--default-delay-time) linear infinite;
}

.ripple-effect:after {
  animation: ripple var(--default-delay-time) linear calc(var(--default-delay-time) - 1s) infinite;
}

.pulse-effect {
  --default-delay-time: 3s;
  -webkit-transform: scale(0.8);
  -webkit-animation: pulse var(--default-delay-time) ease-in-out infinite;
  animation: pulse var(--default-delay-time) ease-in-out infinite;
  margin: -1px;
}

@keyframes ripple {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.8);
    opacity: 1;
  }

  50% {
    -webkit-transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0.8);
    opacity: 1;
  }
}
