.rkit-pricelisttable-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
  padding: 0px 0px 0px 0px;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 5px 5px;
  /* overflow: hidden; */
  background-color: #f7f7f7;
}

.icon-list-button-pt {
  color: #ffffff;
}

.icon-list-button-pt i:hover {
  color: rgb(255, 255, 255);
}

.rkit-pricelisttable-item {
  width: calc(
    50% - 10px
  ); /* Agar item memiliki lebar yang sama dan muat di satu baris */
}

.rkit-pricelisttable-item {
  /* flex: 1 1 calc(100% - 20px); 3 items per row with 20px gap */
  flex: 1 1 auto;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  border-radius: 0px;
  /* overflow: hidden; */
  background: transparent;
  display: flex;
  flex-direction: column;
  position: relative; /* Ensure positioning for ribbon */
}

.rkit-pricelisttable-item-inner {
  background-color: transparent;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  /* overflow: hidden; */
}

.rkit-pricelisttable-item-inner-price {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.rkit-pricelisttable-item-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.rkit-pricelisttable-item-title {
  /* font-size: 1.5em; */
  color: #000000;
  /* font-weight: 800;
    font-style: normal;   */
  text-align: center;
  margin: 0px;
}

.rkit-pricelisttable-item-sub-heading {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}

.rkit-pricelisttable-item-footer {
  justify-content: center;
  text-align: center;
  color: #9e9d9d;
  font-size: 12px;
  padding: 10px 32px;
}
.rkit-pricelist-item-footer-span {
  padding: 0px;
}

.rkit-pricelisttable-item-subheading {
  /* font-size: 1.5em; */
  color: #626665;
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.5px;
  word-spacing: 15px;
  text-align: center;
  margin-bottom: 8px;
  padding-bottom: 20px;
}

.rkit-pricelisttable-item-price {
  /* font-size: 1.5em;
    margin-bottom: 0px; */

  /* font-family: "Verdana", Sans-serif; */
  font-size: 41px;
  letter-spacing: -1.1px;
  text-align: center;
  margin-bottom: 0px;
  line-height: 1;
}

.rkit-pricelisttable-item-sale-price {
  /* font-family: "Verdana", Sans-serif; */
  font-size: 24px;
  letter-spacing: -1.1px;
  text-align: center;
  margin-bottom: -15px;
  text-decoration: line-through;
  color: #818e8e;
}
.rkit-pricelisttable-item-currency {
  font-size: 18px;
  letter-spacing: -1.1px;
  text-align: center;
  margin-bottom: 0px;
}

.rkit-pricelisttable-item-price-section-row {
  display: flex;
  align-items: center;
}

.price-container-row {
  display: flex;
  flex-direction: column;
}

.sale-price-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  margin-bottom: -30px;
}

.sale-price-container-inline {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin: 0;
  padding: 0px;
}

.price-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.rkit-pricelisttable-item-currency,
.rkit-pricelisttable-item-price {
  margin: 0;
  padding: 0 0px;
}

.rkit-pricelisttable-item-sub-title {
  color: #777;
  margin-bottom: 15px;
}

.rkit-pricelisttable-item-sub-title-center {
  margin-left: 5px;
  letter-spacing: -1.1px;
  margin-bottom: 0;
}

.rkit-pricelisttable-item-description {
  padding-top: 12px;
  padding-bottom: 24px;
  padding-left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  color: #000000;
  /* padding: 16px 32px 16px 32px; */
}

.rkit-pricelisttable-item-button .button-element-price-table {
  display: flex;
  align-self: center;
  margin-top: auto;
  background-color: #00cea6;
  color: #ffffff;
  max-width: none;
  padding: 16px 32px 16px 32px;
  justify-content: center;
  gap: 10px;

  /* box-shadow: 0px 6px 10px 5px rgba(0, 0, 0, 0.20)  ; */
}

.rkit-pricelisttable-item-button {
  display: flex;
  justify-content: center;
  padding: 0 32px;
}

.currency-option {
  display: flex;
  flex-direction: row;
}

.period-option {
  display: flex;
}

.rkit-pricelisttable-item-description-icon {
  color: #56d4c4;
}

.rkit-pricelisttable-item-button-icon {
  color: #ffff;
}

.rkit-pricelisttable-item-title-section {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding: 15px 32px 16px 32px;
}
.rkit-pricelisttable-item-price-section {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 16px 32px 16px 32px;
  justify-content: center;
  /* box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.20)   */
}

.icon-list-feature-pt {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  line-height: 0px !important;
  margin-top: 12px;
  margin-bottom: 12px;
}

.icon-list-button-pt {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  line-height: 0px !important;
}

.no-icon-hidden {
  list-style-type: none;
}

.rkit-wrap {
  width: 100%;
  height: 188px;
  position: absolute;
  top: -8px;
  left: 0px;
  overflow: hidden;
}

.rkit-wrap .content {
  position: relative;
  color: #fff;
}

.rkit-wrap:before,
.wrap:after {
  content: "";
  position: absolute;
}

.rkit-wrap:before {
  width: 40px;
  height: 8px;
  right: 100px;
  background: #4d6530;
  border-radius: 8px 8px 0px 0px;
}

.rkit-wrap:after {
  width: 8px;
  height: 40px;
  right: 0px;
  top: 100px;
  background: #4d6530;
  border-radius: 0px 8px 8px 0px;
}

.rkit-ribbon-right {
  width: 200px;
  height: 35px;
  line-height: 33px;
  position: absolute;
  top: 30px;
  right: -38px;
  z-index: 0;
  overflow: hidden;
  -webkit-transform: rotate(95deg);
  transform: rotate(42deg);
  background: #95a5a1;
  text-align: center;
}

/* left ribbon */

.rkit-ribbon-left {
  width: 200px;
  height: 35px;
  line-height: 33px;
  position: absolute;
  top: 30px;
  left: -38px;
  z-index: 0;
  overflow: hidden;
  transform: rotate(315deg);
  background: #95a5a1;
  text-align: center;
}

.rkit-pricelisttable-ribbon {
  position: absolute;
  z-index: 1;
  top: 0;
  left: auto;
  right: -10px;
  transform: rotate(90deg);
  width: 150px;
  overflow: hidden;
  height: 150px;
}

.rkit-pricelisttable-ribbon.rkit-pricelisttable-ribbon__left {
  transform: rotate(0);
  left: 0;
  right: auto;
}

.rkit-pricelisttable-ribbon.rkit-pricelisttable-ribbon__right {
  transform: rotate(90deg);
  left: auto;
  right: 0;
}

.rkit-pricelisttable-ribbon__inner {
  text-align: center;
  left: 0;
  width: 200%;
  transform: translateY(-50%) translateX(-50%) translateX(35px) rotate(-45deg);
  margin-top: 35px;
  font-size: 13px;
  background: #00cea6;
  color: #000;
  line-height: 2;
  font-weight: 700;
  padding: 10px;
}

/* end ribbon */

.rkit-item-list-desc {
  display: flex;
  flex-direction: row;
  padding: 8px 32px;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.rkit-pricelisttable-heading-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rkit-pricelisttable-heading-icon {
  color: inherit;
  font-size: 48px;
  text-align: center;
}

.divider_desc:not(:last-child) {
  display: flex;
  flex-direction: row;
  gap: 5px;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-color: #726b6b;
}

.divider_desc.noline {
  border-width: 0px;
}

.divider_desc:last-child {
  display: flex;
  flex-direction: row;
  gap: 5px;
  border-bottom: 0px;
  list-style: none;
}

/* New Styles */
.button-element-button-link-style {
  color: #00cea6;
}

.rkit-main-featured-lists {
  display: flex;
  flex-direction: column;
}

/**
* Badge Styles
*/

.rkit-pricelisttable-badge {
  position: absolute;
  z-index: 1;
  background-color: #00cea6;
  font-size: 14px;
  padding: 5px 20px;
  top: 15px;
  color: #fff;
  border-radius: 50px;
}

.rkit-styled-ribbon {
  --styled-ribbon-bg: #00cea6;
}

.rkit-pricelisttable-ribbon-1st {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 10px;
  margin: 0;
  padding: 10px 0;
  z-index: 2;
  width: var(--styled-ribbon-width, 60px);
  text-align: center;
  font-size: 17px;
  color: white;
  background: var(--styled-ribbon-bg);
}

.rkit-pricelisttable-ribbon-1st:after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  height: 0;
  width: 0;
  border-left: var(--styled-ribbon-after-width, 30px) solid var(--styled-ribbon-bg);
  border-right: var(--styled-ribbon-after-width, 30px) solid var(--styled-ribbon-bg);
  border-bottom: 10px solid transparent;
}

.rkit-pricelisttable-ribbon-2nd {
  position: absolute;
  top: -13px;
  background: var(--styled-ribbon-bg);
  width: var(--styled-ribbon-width, 120px);
  color: #fff;
  text-align: center;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 0 0 6px 6px; /* bottom corners rounded */
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15); */
}

/* top-left notch */
.rkit-pricelisttable-ribbon-2nd::before {
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-top: 12px solid var(--styled-ribbon-bg);
  filter: brightness(0.7);
  transform: rotate(90deg);
}

/* top-right notch */
.rkit-pricelisttable-ribbon-2nd::after {
  content: "";
  position: absolute;
  top: 0;
  right: -12px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-top: 12px solid var(--styled-ribbon-bg);
  filter: brightness(0.7);
  transform: rotate(180deg);
}

/* Hover Button Animation */

.rkit-pricelist-btn {
  --rkit-btn-radius: 6px;
  --rkit-btn-bg-normal: #1F1F1F;
  --rkit-btn-bg-hover: transparent;
  position: relative;
  align-self: center;
  display: inline-block;
  width: auto; 
  height: auto;
  background-color: var(--rkit-btn-bg-hover);
  border: none;
  cursor: pointer;
  min-width: 150px;
  border-radius: var(--rkit-btn-radius);
  overflow: hidden;
}

.rkit-pricelist-btn span {         
  position: relative;
  display: inline-block;
  top: 0; left: 0;
  width: 100%;
  padding: 16px 32px 16px 32px;
  transition: 0.3s;
}

/*--- btn-1 ---*/
.rkit-pricelist-btn-1::before {
  background-color: var(--rkit-btn-bg-normal);
  transition: 0.3s ease-out;
}
.rkit-pricelist-btn-1 span {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: rgb(255,255,255);
  border-radius: var(--rkit-btn-radius);
  transition: 0.2s 0.1s;
}
.rkit-pricelist-btn-1 span:hover,
.rkit-pricelist-btn-1 span:hover .icon-list-button-pt {
  color: rgb(28, 31, 30) !important;
  transition: 0.2s 0.1s;
}

/* 1.hover-filled-slide-down */
.rkit-pricelist-btn.hover-filled-slide-down::before {
  position: absolute;
  content: "";
  bottom: 0; left: 0; right: 0; 
  height: 100%; width: 100%;
}
.rkit-pricelist-btn.hover-filled-slide-down:hover::before {
  height: 0%;
}

/* 2.hover-filled-slide-up */
.rkit-pricelist-btn.hover-filled-slide-up::before {
  position: absolute;
  content: "";
  top: 0; left: 0; right: 0;
  height: 100%; width: 100%;
}
.rkit-pricelist-btn.hover-filled-slide-up:hover::before {
  height: 0%;
}

/* 3.hover-filled-slide-left */
.rkit-pricelist-btn.hover-filled-slide-left::before {
  position: absolute;
  content: "";
  top: 0; bottom: 0; left: 0;
  height: 100%; width: 100%;
}
.rkit-pricelist-btn.hover-filled-slide-left:hover::before {
  width: 0%;
}

/* 4. hover-filled-slide-right */
.rkit-pricelist-btn.hover-filled-slide-right::before {
  position: absolute;
  content: "";
  top:0; bottom: 0; right: 0;
  height: 100%; width: 100%;
}
.rkit-pricelist-btn.hover-filled-slide-right:hover::before {
  width: 0%;
}

.rkit-pricelist-btn.hover-filled-opacity::before {
  position: absolute;
  content: "";
  top:0; bottom: 0; right: 0;
  height: 100%; width: 100%;
  opacity: 1;
}
.rkit-pricelist-btn.hover-filled-opacity:hover::before {
  opacity: 0;
}

/* Media query */

@media (max-width: 1200px) {
  /* .rkit-pricelisttable-item {
        flex: 1 1 calc(33.333% - 20px); 
    } */
  .rkit-pricelisttable-container {
    flex: 1 1 calc(33.333% - 20px);
  }
}

@media (max-width: 768px) {
  .rkit-pricelisttable-container {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .rkit-pricelisttable-container {
    flex: 1 1 100%;
  }
}
