.elementor-panel .elementor-element .rkit-widget-icon {
  color: #00cea6;
}

.elementor-panel .elementor-element .rkit-widget-icon::after {
  content: "RTM";
  position: absolute;
  top: 3px;
  right: 3px;
  color: white;
  font-size: 9px;
  font-weight: 400;
  padding: 1px 2px;
  line-height: 10px;
  display: inline-block;
  border-radius: 2px;
  font-family: "Open Sans", Roboto, Helvetica, Arial, sans-serif;
}

.elementor-panel .elementor-element:hover .rkit-widget-icon::after {
  color: #00cea6;
}

.elementor-panel .elementor-element:has(.rkit-widget-icon):hover .title {
  color: #00cea6;
}