#custom-admin-drawer {
  position: fixed;
  top: 32px;
  right: -400px;
  width: 400px;
  height: calc(100% - 32px);
  background: #1e2124;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 9999;
  overflow-y: auto;
  font-size: 13px;
}

.custom-drawer-trigger span::before {
  content: "";
  background-image: url("../images/romethemekit.svg") !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 3px;
  vertical-align: middle;
}

#custom-admin-drawer h4 {
  font-size: 13px;
  margin: 1.33em 0;
}

#custom-admin-drawer.open {
  right: 0;
}

#custom-admin-drawer .drawer-header {
  padding: 16px;
  font-weight: bold;
  color: #fff;
  border-bottom: 1px solid #535353ff;
}

#custom-admin-drawer .drawer-content {
  padding: 16px;
  color: #fff;
}

#custom-admin-drawer .drawer-content .content-info:not(:last-child) {
  border-bottom: 1px solid #535353ff;
}

#custom-drawer-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 9998;
}

#custom-drawer-overlay.active {
  display: block;
}

#custom-admin-drawer .drawer-content ul {
  list-style: disc;
  padding-left: 0;
}

#custom-admin-drawer .drawer-content ul li {
  margin-left: 1.5rem;
}

#custom-admin-drawer .drawer-content ul li a {
  color: #fff;
}

#custom-admin-drawer .link-btn-accent {
  background-color: #00cea6;
  color: #000 !important;
  border: solid 1px transparent;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-decoration: none;
}

#custom-admin-drawer .link-btn-accent:hover {
  /* background-color: #00b38f; */
  box-shadow: 0px 0px 20px rgba(0, 206, 166, 0.5);
  border: 1px solid rgba(134, 254, 210, 0.58);
  color: #000 !important;
}
