.saved-template-modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 99999;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */
}

.saved-template-editor-modal-content {
  display: flex;
  gap: 5px;
  flex-direction: column;
  background-color: #34383c;
  margin: auto;
  /* 15% from the top and centered */
  width: 80%;
  /* Could be more or less, depending on screen size */
  height: 90%;
  box-shadow: 0px 0px 49px -19px rgba(0, 0, 0, 0.82);
  -webkit-box-shadow: 0px 0px 49px -19px rgba(0, 0, 0, 0.82);
  -moz-box-shadow: 0px 0px 49px -19px rgba(0, 0, 0, 0.82);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ifr-editor {
  height: 100%;
  width: 100%;
}

.ifr-editor[src] {
  background-color: #34383c;
}

.elementor-editor-container {
  width: 100%;
  height: 100%;
}

.flex-direction-col {
  display: flex;
  flex-direction: column;
}

.elementor-modal-iframe-btn-control {
  padding: 15px;
}

.elementor-editor-header-iframe {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.saved-template-editor-header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding-inline: 1rem;
}

.saved-template-editor-header > strong {
  font-size: 1rem;
  color: white;
}

div[saved-template="true"] {
  position: relative;
}

.rtmkit-edit-template-btn {
  background: #33e4c0;
  float: right;
  position: relative;
  top: 38px;
  z-index: 3;
  padding: 5px 10px;
  font-size: 12px;
  color: #000 !important;
  opacity: 0;
}

.rtmkit-edit-template-btn:hover {
  background: #30d0b0;
}

[saved-template="true"]:hover .rtmkit-edit-template-btn {
  opacity: 1;
}
